{% extends "layout.html" %}

{% block content %}



<div class="searchrow clearfix">

	<div class="findmentor clearfix">Find a Mentor</div>
	<div class="searchbar">
		<input type="search" placeholder="🔍 Select topic(s) for mentorship">
		<input type="search" placeholder="🔍 Search Location">
		<button type="button" class="btn">Search</button>

	</div>
	<button type="button" class="btn">Add Filters</button>


</div>


<ul class="recommendations">
	<li>Mentor Recommendation 1</li>
	<li>Mentor Recommendation 2</li>
	<li>Mentor Recommendation 3</li>

</ul>



{% endblock %}