
{% extends "layout.html" %}

{% block content %}
<!-- Add icon library -->


<div class="aaa clearfix"> </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="aab clearfix">
	
	<font color="blue"><h3>My Mentorship Ratings</h3> </font>
	

	<div class="clearfix">
	Problem Solving: anwering correctly, without much help or hints<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Decent, Worked out a rough solution: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Coding: bug-less,clean, readable and maintainable code: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Communication: clarity of the answers and line of reasoning: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
	</div>
</div>

<div class="aaa clearfix"> </div>

<div class="aab clearfix">
	
	<font color="blue"><h3>My Mentee Ratings</h3> </font>
	

	<div class="clearfix">
	Problem Solving: anwering correctly, without much help or hints<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Decent, Worked out a rough solution: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Coding: bug-less,clean, readable and maintainable code: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
	</div>
	<div class="clearfix">
	Communication: clarity of the answers and line of reasoning: <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
	</div>
</div>







{% endblock %}