<div class="details-table row resume-skill ">
                <div class="details-left-cell col-sm-3"><h4>SKILLS</h4></div>
                <div class="details-right-cell col-sm-9">
                    <div class="skills-container prefilled-skills-details">
                        <div class="prefilled-skills-details-row detail-row" id="student_skill_1831116" student_skill_id="1831116">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>MySQL</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="1831116">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="MySQL">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_1831118" student_skill_id="1831118">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Python</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="1831118">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Python">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562361" student_skill_id="3562361">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>JavaScript</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562361">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="JavaScript">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562363" student_skill_id="3562363">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>CSS</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562363">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="CSS">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562365" student_skill_id="3562365">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>PHP</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562365">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="PHP">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562367" student_skill_id="3562367">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>C Programming</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562367">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="C Programming">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562370" student_skill_id="3562370">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>HTML</h5></div>
        <div class="skill-level" id="skill-level">Advanced</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562370">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="HTML">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Advanced">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562371" student_skill_id="3562371">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Bootstrap</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562371">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Bootstrap">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562375" student_skill_id="3562375">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Django</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562375">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Django">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562474" student_skill_id="3562474">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Java</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562474">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Java">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_3562477" student_skill_id="3562477">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Node.js</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="3562477">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Node.js">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_4619173" student_skill_id="4619173">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Android</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="4619173">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Android">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_4620351" student_skill_id="4620351">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>jQuery</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="4620351">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="jQuery">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_4634568" student_skill_id="4634568">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Mathematics</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="4634568">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Mathematics">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_9682765" student_skill_id="9682765">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>C++ Programming</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="9682765">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="C++ Programming">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_9716323" student_skill_id="9716323">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Natural Language Processing (NLP)</h5></div>
        <div class="skill-level" id="skill-level">Intermediate</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="9716323">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Natural Language Processing (NLP)">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Intermediate">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_13677066" student_skill_id="13677066">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>MongoDB</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="13677066">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="MongoDB">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>
<div class="prefilled-skills-details-row detail-row" id="student_skill_13677352" student_skill_id="13677352">
    <div class="prefilled-skills-details-left-cell detail-left-element">
        <div class="skill-name title"><h5>Docker Products</h5></div>
        <div class="skill-level" id="skill-level">Beginner</div>
    </div>
    <input type="hidden" name="student_skill_id" id="student_skill_id" value="13677352">
    <input type="hidden" name="student_skill_name" id="student_skill_name" value="Docker Products">
    <input type="hidden" name="student_skill_level" id="student_skill_level" value="Beginner">
    <div class="prefilled-skills-details-right-cell pull-right detail-right-element">
        <a><span class="icon-edit skills_edit"></span></a>
        <a><span class="icon-delete skills_delete"></span></a>
        <a><span class="glyphicon glyphicon-plus skills_add" style="display: none;"></span></a>
    </div>
</div>


<script nonce="">
    prefilled_skills_name = ["MySQL","Python","JavaScript","CSS","PHP","C Programming","HTML","Bootstrap","Django","Java","Node.js","Android","jQuery","Mathematics","C++ Programming","Natural Language Processing (NLP)","MongoDB","Docker Products"];
</script>                    </div>

                    <div class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal" data-target="#skill-modal" id="skill-form-modal">
                        + Add Skill
                    </div>
                </div>
            </div>





 <label name='C++'>  C++ </label>
          <p>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
		</p>
          <label name='Machine Learning'>  Machine Learning </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Mathematics'> Mathematics </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Web Development'> Web Development </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Android Development'>  Android Development </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
		<br>
          <label name='Data Analytics'> Data Analytics</label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Human Resources'> Human Resources </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Physics'> Physics </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Business Development'> Business Development </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
          <label name='Deep Learning'> Deep Learning </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		 <label name='Competitive Programming'>  Competitive Programming </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		 <label name='Open Source'> Open Source </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		 <label name='Open Source'> Open Source </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
		 <label name='English Communication'> English Communication </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		<label name='English Communication'> English Communication </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>
		<label name='Economics'> Economics </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		<label name='Economics'> Economics </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		<label name='Chemistry'> Chemistry </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>

		<label name='Blockchain'> Blockchain </label>
           <select name=levels>
    			{% for level in levels %}
    		<option value= "{{level}}">{{level}}</option>"
    		{% endfor %}
		</select>


$(document).ready(function() {
  console.log("ready!");

$(function() {
    $('.add-field').click(function() {
    $('.multi-fields').append('<div class="multi-field"><label name='skill'> Skills </label><select name=skills>{% for skill in skills %}<option value= "{{skill}}">{{skill}}</option>"{% endfor %}</select><label name='level'> Level </label><select name=levels>{% for level in levels %}<option value= "{{level}}">{{level}}</option>"{% endfor %}</select><button type="button" class="add-field">Add Destination</button> <!--a href="#" class="remove_field">Remove</a--></div>');

    });
});


$(function() {
    $('#upload-file-btn').click(function() {

        var form_data = new FormData();
        var number = document.getElementById('multiFiles').files.length;
        for(var index=0; index<number; index++){
            form_data.append("files[]", document.getElementById('multiFiles').files[index])
        }
        $.ajax({
            type: 'POST',
            url: '/',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(response) {
                $('#msg').html(number + " document(s) uploaded!")
                console.log('Success!');
            },

            error: function(response) {
                $('#msg').html("Upload only PDF or text files")
                console.log(response);
            },
        });
    });
});

$('#createindex').on('submit', function() {

    console.log("The text has been submitted");

    // grab values
    paragraphs = $("textarea#text").val();

    $.ajax({
      type: "POST",
      url: "/",
      data : { 'text': paragraphs},
      success: function(results){
        console.log(results);
        $("#results").html("Index created!")
         $("#clear_index").html(" ")
      },
      error: function(error) {
        console.log(error);
        $("#results").html(error)
      }

      });

});

$('#searchform').on('submit', function() {

    console.log("Searching");

    // grab values
    word = $("input[name='text_search']").val();

    $.ajax({
      type: "GET",
      url: "/result",
      data : { 'word': word},
      success: function(results){
        $("#result").html(" ")
        console.log(results);
        var count = 0;
        $.each(results.paragraph, function(index, value){
            if(count<10){
                count++;
                $("#result").append('<hr>' + '<center>' + count + '</center>' + '<br>' +  value + '<br>' + '<hr>');
            }
        });
      },
      error: function(error) {
        console.log(error);
        $("#result").html("Not found")
      }

      });

});

$('#clearbutton').on('click', (function() {

    console.log("clicked");
    document.getElementById("multiFiles").value = ""
    $('#msg').html("")

    $.ajax({
      type: "DELETE",
      url: "/clear",
      success: function(results){
        console.log(results);
        $("#clear_index").html("Index cleared!")
        $("#result").html('');
      },
      error: function(error) {
        console.log(error);
        $("#clear_index").html("Index can not be cleared!")
      }

      });

}));
});

